httpx<0.25.0
langchain-huggingface
sentence_transformers
langchainhub
faiss-cpu
langchain
langchain-community
pypdf
seaborn
nltk
wordcloud
torch
openpyxl
python-dotenv
langchain-groq
transformers
colorama
st-social-media-links
streamlit-extras
